@import "./function";

$main_color: #000;
$tag_color_blue: #3fb0f6;
$tag_color_gray: #a1a1a1;

$button_color: #ffd117;
$button_color_green: #a6cb1c;

$input_border_radius: 3px;
$input_border: 1px solid #f1f1f1;
$input_font_color: #666;




//padding
$main_padding:  20px;
